@charset "UTF-8";
/* SCSS Document */

/* this is my sass file */

@import 'partial';

$body-colour: #333;
$div-colour: #9C3;

@mixin border($thickness) {
	border: $thickness solid;
}
@mixin underline($thickness) {
	border-bottom: $thickness solid;
}
body {
	color: $body-colour;
	width: 940px;
    position: relative;
    margin: 0 auto;
	div {
		color: $div-colour;	
	}
	.undelined {
		@include underline(2px);
	}
	.extradiv {
		@extend div;
		border-color: $div-colour;
	}
	.sidebar {
		float: left;
		width: 300px / 960px * 100%; 
	}
	.content {
		float: right;
		width: 600px / 960px * 100%;
	}
	.extra {
		border-color: #c4c4c4;
		background: blue;
	}
	.style-handlebars {
	
	}
	main {
		position: relative;
		width: 940px;
		margin: 0 auto;
	}
	.products {
		width: 960px;
		margin: 0 auto;
		position: relative;

		.product {
			position: relative;
			float: left;
			width: 33.333333%;
			border: 2px solid grey;
			padding: 10px;

		}
	}
}